@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';
.content {
  display: flex;
  justify-items: center;
}
.step {
  width: 400px;
  height: 200px;
}
.a {
  background: #0f0;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #f00 !important;
}
.desk{
  width: 545px;
  height: 400px;
  // margin: 20px auto 0;
  // position: relative;
display: flex;
flex-wrap:wrap;
}
.desk div{
  width:30px;
  margin: 10px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ddd;
  font-weight: bold;
  font-size: 16px;
  // float: left;

  // position: absolute;

}
.box{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  .boxLabel{
    width: 8%;
    text-align: center;
     div{
      width:36px;
      margin: 14px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      // color: #ddd;
      font-weight: bold;
      font-size: 16px;
      // color: #ddd;
      // float: left;
    
      // position: absolute;
    
    }
  }
}
