.top_title {
  p {
    margin: 5px auto;
    // text-align: center;
    margin-left: 30%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    span {
      width: 150px;
      display: inline-block;
      text-align: center;
      // text-decoration: underline;
      border-bottom: 1px solid #333;
    }
  }
}
.report {
  text-align: center;
  margin-top: 15px;
}
.modalReport {
  height: 600px !important;
  overflow: auto;
}
